body {
  box-sizing: border-box;
  width: 400px;
}

#input-el {
  width: 100%;
  border: rgb(98, 200, 98) 2px solid;
  box-sizing: border-box;
}

#ul-el li {
  list-style-type: none;
}

#input-btn, #tab-btn, #del-btn {
  width: 100px;
  background-color: rgb(98, 200, 98);
  margin-top: 5px;
  padding: 5px;
  font-weight: bold;
  border: none;
  color: white;
}

#input-btn:hover, #tab-btn:hover, #del-btn:hover {
  opacity: 0.5;
  cursor: pointer;
}
