body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  width: 500px;
  height: 300px;
  border: 5px red solid;
  border-radius: 10px;
}

.emoji-container {
  display: flex;
  gap: 50px;
}

.button-container {
  display: flex;
  flex-direction: column;
}